/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: whitesmoke;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.admin,
.user {
  display: none;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 15em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  padding: 8px 12px;
  display: block;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: whitesmoke;
  float: right;
  font-size: 15px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(48, 48, 48);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #a55344;
  color: whitesmoke;
  text-align: center;
}

.modal-body {
  padding: 5px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #a55344;
  color: whitesmoke;
  text-align: center;
}

.mood-container {
  grid-column: 2/3;
  height: 250px;
  width: 600px;
  margin-bottom: 100px;
  /* height: 1000px;
	width: 1000px; */
  /* background-color: #A55344; */
}

.mood-content,
.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2%;
}

input[type="range"] {
  width: 500px;
  height: 6px;
  -webkit-appearance: none;
  background-color: rgb(48, 48, 48);
  border-radius: 6px;
  outline: none;
  margin-top: 25px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-color: rgb(48, 48, 48);
  border-radius: 50%;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.2);
}

.material-icons {
  padding-top: 2%;
  font-size: 130px;
  color: rgb(48, 48, 48);
}

.forms-headers{
 text-align: center;
 padding-bottom: 3rem;
 padding-top: 1rem;
}

.survey-header{
  padding-bottom: 2rem;
}

input[type="range"] {
  width: 500px;
  height: 6px;
  -webkit-appearance: none;
  background-color: whitesmoke;
  border-radius: 6px;
  outline: none;
  margin-top: 60px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-color: whitesmoke;
  border-radius: 50%;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.2);
}
.material-icons {
  font-size: 130px;
  color: rgb(48, 48, 48);
}
/*end mood*/

/* calendar */
.calendar {
  text-align: center;
}

table.calendar {
  border-collapse: collapse;
  background: white;
  color: black;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 21em;
}

h2.calendar {
  text-align: center;
  color: rgb(48, 48, 48);
  margin-top: 4rem;
}

th.calendar {
  color: white;
  background-color: #a55344;
  font-weight: bold;
}

tr.calendar > td {
  padding: 15px;
  font-weight: bold;
  transition: 0.5s;
}

tr.calendar > td:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background-color: #a55344;
  border-radius: 25%;
}
/* calendar end */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  /* padding: 25px; */
  /* height: 65em; */
  /* margin-bottom: 50px; */
  padding-top: 35px;
  padding-left: 0%;
  padding-right: 0%;
  
}

/* navbar */
/* desktop */
.navbar input[type="checkbox"],
.navbar .hamburger-menu {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #a55344;
  color: rgb(48, 48, 48);
  /* opacity: 0.95; */
  height: 60px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  padding: 25px;
}

.nav-list {
  order: 2;
  display: flex;
}

.nav-list li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(48, 48, 48);
}

.logo{
  color: rgb(48, 48, 48);
  margin: auto;
  height: 55px;
  width: auto;
  top: 2px;
  left: 20px;
}

.logo-words{
  position: absolute;
  top: 13px;
  left: 80px;
  color: rgb(48, 48, 48);
  margin: auto;
  height: 40px;
  width: auto;
}

/*home*/
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small; 
  /* border: solid #BDBDBD 1px;  */
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);  
}

.btn-primary {
  color: whitesmoke;
  background: #a55344;
}

.btn-primary:hover,
#login-btn:hover {
  background: rgb(48, 48, 48);
  transition: background 0.5s ease-in-out;
}

.home-area {
  height: 68vh;
  background: linear-gradient(
      rgba(48, 48, 48, 0.225),
      rgba(255, 255, 255, 0.125)
    ),
    url("../assets/home-banner2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-container {
  /* padding-top: 5%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  font-size: 1.6rem;
}

.main-title {
  text-transform: uppercase;
  margin-top: 2em;
}

.services-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* grid-template-columns: auto auto auto; */
  background-color: whitesmoke;
  padding: 20px 20px 20px 20px;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* height: 35rem; */
  grid-template-areas: 
  'reminders journals forms'
  'moods moods moods';
  padding: 2%;
  /* flex-direction: row; 
  justify-content: space-evenly; */
}

.user-info-item p,
.user-info-item img {
  display: none;
}

.user-info-item li {
  list-style: none;
}

#reminders {
  grid-area: reminders;
}

#journals {
  grid-area: journals;
}

#forms {
  grid-area: forms;
}

#moods {
  grid-area: moods;
}

.services-item {
  background-color: white;
  padding: 25px 80px;
  font-size: 30px;
  text-align: center;
  border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: x-large;
}

.articleImg {
  
  display: inline;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
}

p {
  padding-top: 5px;
  font-size: small;
}

/* .section-one,
.section-two,
.section-three {
  padding-bottom: 25px;
}
#service-one,
#service-two,
#service-three {
  padding: 30px 100px;
} */

/*contact*/
.contact-area {
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: whitesmoke; */
}
.contact-div {
  grid-column: 1/2;
  padding: 50px 10px 10px 10px;
  /* text-indent: 2%; */
  text-align: center;
}

.feedback-form {
  grid-column: 2/3;
  padding: 90px 10px 10px 10px;
}

/*about*/
.container-about {
  padding-top: 3%;
  text-align: center;
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin: 2rem auto;
  max-width: 90%;
  width: auto;
  -webkit-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  height: 800px, auto;
  padding-bottom: 6rem;
}


.container-contact{
  padding-top: 2%;
  text-align: center;
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin: 2rem auto;
  max-width: 90%;
  width: auto;
  -webkit-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  height: 800px, auto;
  padding-bottom: 6rem;
}

.bios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.bios > section {
  padding: 5%;
}

#github,
#linkedin {
  height: 25px;
  text-decoration: none;
}

.headshot {
  height: 200px;
}

/*footer*/
#footer {
  margin-top: auto;
  /* position: sticky; */
  bottom: 0;
  text-align: center;
  font-size: 1.8rem;
  padding: 1.5rem;
  font-weight: 500;
  color: whitesmoke;
  background: rgb(48, 48, 48);
}

#footer h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 250;
  color: whitesmoke;
}

#footer a {
  text-align: center;
  text-decoration: none;
  font-size: small;
  color: whitesmoke;
}

.links-header{
  padding-bottom: 2rem;
}
.resources_list {
  margin: 5rem;
  /* padding: 5rem; */
  text-align: center;
  box-sizing: border-box;

}

.links-subheader{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.resources_list ul {
  list-style: none;
}

.search-header{
  padding-bottom: 2rem;
}

.search-container {
  font-size: small;
  text-decoration: none;
  text-align: center;
}

.search-list {
  text-align: left;
  font-size: small;
  text-decoration: none;
  margin-left: 5em;
}

.search-list h2,
span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
}

.search-list li {
  margin-left: 5em;
}

.resourceImg {
  height: 15em;
}

.styling_container{
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin: 2rem auto;
  max-width: 60rem;
  width: 90%;
  -webkit-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  height: 800px, auto;
  padding-bottom: 6rem;
}

.reminders_container{
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin: 2rem auto;
  max-width: 60rem;
  width: 90%;
  -webkit-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  height: 800px, auto;
  padding-bottom: 6rem;
}

.resources_container{
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin: 2rem auto;
  max-width: 60rem;
  width: 90%;
  -webkit-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 17px 31px -14px rgba(0, 0, 0, 0.75);
  height: 800px, auto;
  padding-bottom: 6rem;
}

#fixTop{
  position: fixed;
  z-index: 888;
  top: 44%;
  left: 50%;
  margin-left: 500px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* media query */
@media (max-width: 1022px) {
  body {
    text-align: center;
  }

  .contact-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 20px 20px 20px;
  }
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }

  .container {
    min-height: 117em;
  }

  .services-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* grid-template-columns: auto auto auto; */
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-menu {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-menu {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-menu .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(48, 48, 48);
  }

  .navbar-container .hamburger-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-menu .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .nav-list {
    padding-top: 100px;
    background: whitesmoke;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px grey;
  }

  .navbar .nav-list li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked ~ .nav-list {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-menu .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-menu .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-menu .line3 {
    transform: rotate(-35deg);
  }
}

@media (max-width: 500px) {
  .container {
    min-height: 121em;
  }

  .articleImg {
    padding-left: -5%;
  }

  input[type="range"] {
    width: 190px;
    height: 6px;
    -webkit-appearance: none;
    background-color: rgb(48, 48, 48);
    border-radius: 6px;
    outline: none;
    margin-top: 25px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background-color: rgb(48, 48, 48);
    border-radius: 50%;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.2);
  }

  .navbar .nav-list li {
    font-size: 1.6rem;
  }

}

@media (min-width: 1345px) {
}

/* journal content */
.journal,
.moods-header {
  text-align: center;
  padding-top: 1rem;
}

p.journal {
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

.journal-entry-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  border-radius: 75%;
  box-shadow: 5px 0px 10px 0px grey;
}

.journal-submit-button {
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin: 1em;
  font-weight: small;
  color: whitesmoke;
  background: #a55344;
}

.journal-buttons {
  display: flex;
  width: fit-content; 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} 

li.journal-entry {
  float: right;
  position: relative;
  left: -28%;
  text-align: left;
  margin: 1rem;
} 

.journal-submit-button:hover, 
.journal-entry:hover, 
.return-all-journals:hover, 
.journal-delete:hover {
  background: rgb(48, 48, 48);
  transition: background 0.5s ease-in-out;
}

 .journal-entry, 
.return-all-journals, 
.journal-delete {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: block;
  width: fit-content;
  color: whitesmoke;
  background: #a55344;
  border-radius: 25px;
  padding: 0.5em 1em;
}

.return-all-journals, 
.journal-delete {
margin-left: 2rem;
margin-right: 2rem;
}

.journal-date {
  padding-bottom: 2rem;
}

.journal-content {
  padding-bottom: 3rem;
}

.label-date{
  margin-top: 10rem;
}

#date {
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: transparent;
}

#journal-entry {
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: transparent;
  max-width: 80%;
}

.individual-journal {
  text-align: center;
}

.journal-form {
  background-image: url("../assets/legal-pad.png");
  min-height: 40rem;
  background-position:top center;
}

form.journal {
  padding-top: 7rem;
  margin-top: 2rem;
}

/*nicole*/
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #a55344;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #a55344;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #a55344;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

#account-circle {
  font-size: 1.5rem;
}

/* reminder content */

.reminder-header {
  text-align: center;
  padding: 1rem;
}

.reminder {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: block;
  width: fit-content;
  color: whitesmoke;
  background: #a55344;
  border-radius: 25px;
  padding: 0.5em 1em;
}

.reminder:hover {
  background: rgb(48, 48, 48);
  transition: background 0.5s ease-in-out;
}

#frmReminder {
  text-align: center;
  margin: 4rem;
}

.entrReminder {
  font-weight: bold;
}

.add-reminder__name,
.add-reminder__category,
.add-reminder__priority,
.add-reminder__description {
  box-shadow: 0.5px 0.5px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.add-reminder__submit,
.add-reminder__priority {
  cursor: pointer;
}

.all-reminders__div {
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
}

.add-reminder__submit {
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  font-weight: small;
  color: whitesmoke;
  background: #a55344;
}

.add-reminder__submit:hover {
  background: rgb(48, 48, 48);
  transition: background 0.5s ease-in-out;
}

/* Individual Reminder section */

.individual-reminder {
  margin: 5rem auto 5rem auto;
  display: block;
  width: fit-content;
}

.reminder-name,
.reminder-category,
.reminder-description,
.reminder-priority {
  margin: 1rem auto 1rem auto;
  text-align: center;
}

.reminder-category,
.reminder-description,
.reminder-priority {
  text-align: left;
  margin-top: 2rem;
}

.reminder-name {
  text-decoration: underline;
}

.return-reminders,
.reminder-delete {
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin: 1em;
  font-weight: small;
  color: whitesmoke;
  background: #a55344;
}

.reminder-buttons {
  display: block;
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.return-reminders:hover,
.reminder-delete:hover {
  background: rgb(48, 48, 48);
  transition: background 0.5s ease-in-out;
}

.typeButtons>button {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: block;
  width: fit-content;
  color: whitesmoke;
  background: #a55344;
  border-radius: 25px;
  padding: 0.5em 1em;
}

.form-content{
  margin-top: 2rem;
}

.lastCheckin{
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: block;
  width: fit-content;
  color: whitesmoke;
  background: #a55344;
  border-radius: 25px;
  padding: 0.5em 1em;
}

#play-button, #stop-button{
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin: 1em;
  font-weight: small;
  color: whitesmoke;
  background: #a55344;
}